<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
    <main>
        <div class="breadcumb_area breadcumb-style-two bg-img" style="background-image: url(../img/bg-img/breadcumb2.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="page-title text-center">
                            <h2>Danh sách hóa đơn</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Breadcumb Area End ##### -->
    
        <!-- ##### Blog Wrapper Area Start ##### -->
        <div class="blog-wrapper section-padding-80">
            
                <div class="col-12">
                    <table class="table">
                        
                        <thead>
                            <tr class="table_head">
                                <th class="p-lr-20">Mã hóa đơn</th>
                                <th class="p-lr-20">Tên người nhận</th>
                                <th class="">Địa chỉ nhận</th>
                                <th class="">Ngày đặt</th>
                                <th class="">Trạng thái</th>
                                <th class="">Chi tiết</th>
                                <th class="">Xử lí</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ord in pagerListOrder.items">
                                <td style="padding-bottom: 0" class="p-lr-20">
                                    {{ord.billid}}</td>
                                <td style="padding-bottom: 0" class="p-lr-20">
                                    {{ord.account.fullname}}</td>
                                <td style="padding-bottom: 0" class="">
                                    {{ord.address}}</td>
                                <td style="padding-bottom: 0" class="">
                                    {{ord.billdate | date : 'dd-MM-yyyy'}}</td>
            
                                <td ng-if="ord.status == 1" style="padding-bottom: 0"><label class="badge badge-warning">
                                    Chờ xác nhận đơn</label>
                                </td>
                                <td ng-if="ord.status == 2" style="padding-bottom: 0"><label class="badge badge-info">
                                    Đang giao đơn hàng</label></td>
                                <td ng-if="ord.status == 3" style="padding-bottom: 0"><label class="badge badge-success">
                                    Giao hàng thành công</label>
                                </td>
                                <td ng-if="ord.status == 4" style="padding-bottom: 0"><label class="badge badge-danger">
                                    Hủy đơn hàng</label></td>
                                <td style="padding-bottom: 0" class="">
                                    <a href="/billdetail/{{ord.billid}}" class="btn btn-deafault"> Xem chi tiết </a>
                                </td>
                                <td ng-if="ord.status == 1" style="padding-bottom: 0" class="">
                                    <a ng-click="cancelorder(ord)" class="btn btn-deafault"> Hủy
                                        đơn</a>
                                </td>
                                <td ng-if="ord.status == 3 || ord.status == 4" style="padding-bottom: 0" class="">
                                    <a ng-click="preorder(ord)" class="btn btn-deafault"> Đặt
                                        lại đơn</a>
                                </td>
                            </tr>
            
                        </tbody>
                    </table>
                    <br>
                    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
						<ul class="pagination">
							<li class="page-item"><a class="page-link" ng-click="pagerListOrder.first()">
									<< </a>
							</li>
						</ul>
						<ul class="pagination">
							<li class="page-item"><a class="page-link" ng-click="pagerListOrder.prev()">
									< </a>
							</li>
						</ul>
						<ul class="pagination">
							<li class="page-item"><a style="padding: 0.5rem 0.75rem;display: block; cursor: default;">
									{{pagerListOrder.page + 1}} - {{pagerListOrder.count}} đến {{pagerListOrder.count}} </a></li>
						</ul>

						<ul class="pagination">
							<li class="page-item"><a class="page-link" ng-click="pagerListOrder.next()"> > </a></li>
						</ul>
						<ul class="pagination">
							<li class="page-item"><a class="page-link" ng-click="pagerListOrder.last()"> >> </a></li>
						</ul>
					</nav>
                   
                </div>
            
        </div>
        
        
    </main>

</body>

</html>