<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
    <main>
        <div class="breadcumb_area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="page-title text-center">
                            <h2>Tất cả sản phẩm</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Breadcumb Area End ##### -->

        <!-- ##### Shop Grid Area Start ##### -->
        <section class="shop_grid_area section-padding-80">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="shop_sidebar_area">

                            <!-- ##### Single Widget ##### -->
                            <!-- <div class="widget catagory mb-50">
                                <h6 class="widget-title mb-30">Danh mục</h6>
                                <div class="catagories-menu">
                                    <ul id="menu-content2" class="menu-content collapse show">
                                        <li data-toggle="collapse" data-target="#clothing" >
                                            <a data-filter="*">Tất cả sản phẩm</a>
                                            <ul class="sub-menu collapse show" id="clothing">
                                                <li ng-repeat="c in listCategory" data-filter=".{{c.cateid}}"><a >{{c.catename}}</a></li>
                                            </ul>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div> -->
                            <div class="widget brands mb-50">
                                <!-- Widget Title 2 -->
                                <p class="widget-title2 mb-30">Brands</p>
                                <div class ="widget-desc">
                                    <ul>
                                        <li><a href="" ng-click="getProductCate(null)">Tất cả sản phẩm</a></li>
                                        <li ng-repeat="c in listCategory"><a href="" ng-click="getProductCate(c.cateid)">{{c.catename}}</a></li>

                                    </ul>
                                </div>
                            </div>
                            <!-- ##### Single Widget ##### --><div class="widget price mb-50">
                                <p>Sắp xếp:</p>
                                <div class="form-group clearfix">
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="radioPrimary1"  ng-model="selectedOption" value="price">
                                        <label for="radioPrimary1"> Giá từ thấp - cao
                                        </label>
                                    </div>
                                    <br>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="radioPrimary2" ng-model="selectedOption" value="-price">
                                        <label for="radioPrimary2"> Giá từ cao - thấp
                                        </label>
                                    </div>
                            
                                </div>
                            </div>
                           
                           

                            <!-- ##### Single Widget ##### -->

                            <!-- ##### Single Widget ##### -->

                        </div>
                    </div>

                    <div class="col-12 col-md-8 col-lg-9">
                        <div class="shop_grid_product_area">
                            <div class="row">
                                <div class="col-12">
                                    <div class="product-topbar d-flex align-items-center justify-content-between">
                                        <div class="product-sorting d-flex">
                                            <p>Tìm kiếm: </p>
                                            <input type="text" class="form-control" placeholder="Nhập thông tin" ng-model="searchProduct">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <!-- Single Product -->
                                <div ng-repeat="item in pagerListProduct.items | orderBy:selectedOption | filter: searchProduct"
                                    class="col-12 col-sm-6 col-lg-4">
                                    <div class="single-product-wrapper">
                                        <!-- Product Image -->
                                        <div class="product-img">
                                            <img src="/images/products/{{item.image}}" alt="">
                                            <!-- Hover Thumb -->
                                            <img class="hover-img" src="/images/products/{{item.image}}" alt="">


                                            <div ng-if="!account">
                                            </div>
                                            <div ng-if="account" class="product-favourite">
                                                <div ng-if="checkfav(item,account)==true">
                                                    <a ng-click="actionfav(item,account)"
                                                        class="favme fa fa-heart active">
                                                        <!-- <i ></i> -->
                                                    </a>
                                                </div>
                                                <div ng-if="checkfav(item,account)==false">
                                                    <a ng-click="actionfav(item,account)" class="favme fa fa-heart">
                                                        <!-- <i ></i> -->
                                                    </a>
                                                </div>


                                            </div>
                                        </div>

                                        <!-- Product Description -->
                                        <div class="product-description">
                                            <span>Tác giả: {{item.author}}</span>
                                            <a href="/product/detail/{{item.productid}}">
                                                <h6>{{item.productname}}</h6>
                                            </a>
                                            <p class="product-price">{{item.price | number : 0}}đ</p>
                                            <!-- Hover Content -->
                                            <div class="hover-content">
                                                <!-- Add to Cart -->
                                                <div class="add-to-cart-btn">
                                                    <a th:attr="ng-click=@{|cart.add(item.productid)|}"
                                                        data-tooltip="Thêm vào giỏ hàng" class="btn essence-btn">Add to
                                                        Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <!-- Pagination -->
                        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" ng-click="pagerListProduct.first()">
                                        << </a>
                                </li>
                            </ul>
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" ng-click="pagerListProduct.prev()">
                                        < </a>
                                </li>
                            </ul>
                            <ul class="pagination">
                                <li class="page-item"><a
                                        style="padding: 0.5rem 0.75rem;display: block; cursor: default;">
                                        {{pagerListProduct.page + 1}} - {{pagerListProduct.count}} đến
                                        {{pagerListProduct.count}} </a></li>
                            </ul>

                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" ng-click="pagerListProduct.next()"> > </a>
                                </li>
                            </ul>
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" ng-click="pagerListProduct.last()"> >> </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

    </main>

</body>

</html>